
header {
  &#map {
    &::before {
      background: url("../img/header3.jpg") left top no-repeat;

      /* Small devices (tablets, 768px and up) */
      @media (max-width: $screen-sm-max) {
        background-size: 100%;
      }
    }
  }
}

.map {
  width: 100%;
  height: 400px;
  position: relative;

  > .balloon {
    padding: 16px;
    width: 340px;
    background-color: #727270;
    z-index: 150;
    position: absolute;
    right: 32px;
    bottom: 24px;
    color: rgba(255,255,255,.8);

    > img {
      width: 100%;
    }

    > a {
      position: absolute;
      top: -32px;
      right: -24px;
      color: black;
    }

    > p {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
