
header {
  &#news {
    &::before {
      background: url("../img/header4.jpg") left top no-repeat;

      /* Small devices (tablets, 768px and up) */
      @media (max-width: $screen-sm-max) {
        background-size: 100%;
      }
    }
  }
}

.news {

  background: linear-gradient(to top, #e3e3e3, #ffffff);
  > .content {

  }
}