
header {
  &#products {
    &::before {
      background: url("../img/header1.jpg") left top no-repeat;

      /* Small devices (tablets, 768px and up) */
      @media (max-width: $screen-sm-max) {
        background-size: 100%;
      }
    }

    > img {
      position: absolute;
      z-index: 150;

      &.mob {
        bottom: 50px;
        left: 380px;
      }

      &.charger {
        bottom: 50px;
        left: 200px;
      }
      /* Small devices (tablets, 768px and up) */
      @media (max-width: $screen-sm-max) {
        &.mob {
          width: 100px;
          bottom: 10px;
          left: 140px;
        }

        &.charger {
          width: 50px;
          bottom: 10px;
          left: 80px;
        }
      }
    }
  }

}

.connecting {

  background: linear-gradient(to top, #e3e3e3, #ffffff);

  > .content {
    position: relative;
    width: 80%;
    margin: 0 auto;

    > span {
      position: absolute;
      color: #009648;
      color: rgba(0,152,70,.9);
      font-size: 18pt;
      line-height: 20pt;

      &.span-top {
        top: 17.7%;
        right: 0;
        width: 25%;
      }

      &.span-bottom {
        top: 55%;
        left: 4%;
        width: 30%;
      }

      /* Small devices (tablets, 768px and up) */
      @media (max-width: $screen-sm-max) {
        font-size: 10pt;
        line-height: 10pt;
      }
    }

    > img {
      width: 100%;
      margin: 30px 0;
    }
  }
}

.charging {

  border-bottom: 60px solid #009746;
  background: linear-gradient(to top, #dce6db, #ffffff);

  > .content {
    width: 80%;
    margin: 40px auto;
    font-size: 12pt;
    //line-height: 16pt;

    > img {
      float: left;
      width: 50%;
      margin-bottom: 60px;
    }
  }

  /* Small devices (tablets, 768px and up) */
  @media (max-width: $screen-sm-max) {
    > .content {
      font-size: 10pt;
      > img {
        margin-bottom: 100px;
      }
    }
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1600px) {
    > .content {
      font-size: 14pt;
    }
  }
}

